In [ ]:
for i in range(21,30):
  print("gud morning")

gud morning
gud morning
gud morning
gud morning
gud morning
gud morning
gud morning
gud morning
gud morning

In [ ]:
for i in range(6):
  print(i+1)

1
2
3
4
5
6

In [ ]:
for i in range(1,11):
  print(i,end = "  ")

1  2  3  4  5  6  7  8  9  10

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
money = 30000
iphone = 50000
if money > iphone:
  print("i will buy iphone")
else:
    print("i will not buy iphone")

i will not buy iphone

In [ ]:
money = 30000
iphone = 50000
samsung = 40000
vivo = 20000
if money > iphone:
  print("i will buy iphone")
elif money > samsung:
  print("i will buy samsung")
elif money > vivo:
  print("i will buy vivo")
else:
    print("i will not buy anything")

i will buy vivo

In [ ]:
for i in range(1,21):
  if i%2 == 0:
    print(i,'even')

2 even
4 even
6 even
8 even
10 even
12 even
14 even
16 even
18 even
20 even

In [ ]:
for i in range(1,10):
  print(i)
  if i == 7:
    break

1
2
3
4
5
6
7

In [ ]:
for i in range(50,30,-5):
  print(i,end = " ")

50 45 40 35

In [ ]:
 x = 10
 y = 9
 if x > y:
  print("x=y")
 elif x >= y:
    print(x>y)
 else:
    print(x<y)

x=y

In [ ]:
for i in range(1500,2700):
  if (i/7 == 0 and i*5 ==0):
    print(i)

In [ ]:
for i in range(200,300):
  if i == 250:
    break
  print(i,end = "")

200201202203204205206207208209210211212213214215216217218219220221222223224225226227228229230231232233234235236237238239240241242243244245246247248249

In [ ]:
a = str(input("enter your name"))

enter your nameaswini

In [ ]:
f = float(input("enter a positive number"))

enter a positive number2

In [ ]:
a = int(input("enter your bday date"))
b = str(input("enter your name"))
print("my bday date is",a)
print("my name is",b)

enter your bday date2
enter your nameaswini
my bday date is 2
my name is aswini

In [ ]:
i = 1
while i <= 10:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#factorial of number
n = 8
r = 1
for i in range(1,n+1):
 r = r*i
 print(r)

1
2
6
24
120
720
5040
40320

In [ ]:
# sum of the digits
n = 789
r = 0
a = str(n)
for b in a:
  r = r + int(b)
  print(r)

7
15
24

In [ ]:
# number of values in list without using len function
a = [1,2,3,4,5]
r = 0
for i in a:
  r = r + 1
print(r)

5

In [ ]:
#nested statements
for i in range(1,11):
  for j in range(2,5):
    print(i + j,end = " ")

3 4 5 4 5 6 5 6 7 6 7 8 7 8 9 8 9 10 9 10 11 10 11 12 11 12 13 12 13 14

In [ ]:

for i in range(5):
  for j in range(5):
    print('*',end = " ")
    print()

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
n = 101
b = str(n)
print(f'value in b = {b}')
c = b[::-1]
print(f'value in c = {c}')
if b == c:
  print("is a palindrome")
else:
    print("is not a palindrome")

value in b = 101
value in c = 101
is a palindrome

In [ ]:
#fibonacci series
n = 8
a = 0
b = 1
for i in range(n - 2):
  c = a + b
  print(c)
  a = b
  b = c

1
2
3
5
8
13