In [ ]:
fruits = {"banana":100,"apple":200,"guava":300,"carrot":400}
print(fruits)
print(type(fruits))

{'banana': 100, 'apple': 200, 'guava': 300, 'carrot': 400}
<class 'dict'>

In [ ]:
fruits = {"banana":100,"apple":200,"guava":300,"carrot":300}
print(fruits)

{'banana': 100, 'apple': 200, 'guava': 300, 'carrot': 300}

In [ ]:
fruits = {"banana":100,"apple":200,"guava":300,"banana":400}
print(fruits)

{'banana': 400, 'apple': 200, 'guava': 300}

In [ ]:
fruits = {"banana":100,"apple":200,"guava":300,"carrot":400}
print(fruits["carrot"])

400

In [ ]:
a = {"age":[10,20,30],"location":["hyd","banglore","chennai"],"salary":[1000,2000,3000]}
print(a["location"])

['hyd', 'banglore', 'chennai']

In [ ]:
a = {"age":[10,20,30],"location":["hyd","banglore","chennai"],"salary":[1000,2000,3000]}
print(a["age"][2])

30

In [ ]:
fruits = {"banana":100,"apple":200,"guava":300,"banana":400}
print(f"before adding: {fruits}")
fruits["mango"] = 500
print(f"after adding: {fruits}")

before adding: {'banana': 400, 'apple': 200, 'guava': 300}
after adding: {'banana': 400, 'apple': 200, 'guava': 300, 'mango': 500}

In [ ]:
fruits = {"banana":100,"apple":200,"guava":300,"banana":400}
print(f"before deleting: {fruits}")
del fruits["banana"]
print(f"after deleting: {fruits}")

before deleting: {'banana': 400, 'apple': 200, 'guava': 300}
after deleting: {'apple': 200, 'guava': 300}

In [ ]:
fruits = {}
print("fruits")
fruits = {"banana":200,"apple":300,"guava":400}
print(fruits)

fruits
{'banana': 200, 'apple': 300, 'guava': 400}

In [ ]:
fruits = {"banana":200,"apple":300,"guava":400}
del(fruits{banana})
print("fruits")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-19-cbb257325206>, line 2)

In [ ]:
fruits = {"banana":200,"apple":300,"guava":400}
print(fruits.get("banana"))

200

In [ ]:
fruits = {"banana":200,"apple":300,"guava":400}
fruits.update({"water melon":500})
print(fruits)

{'banana': 200, 'apple': 300, 'guava': 400, 'water melon': 500}

In [ ]:
fruits = {"banana":200,"apple":300,"guava":400}
fruits.pop("banana")
print(fruits)

{'apple': 300, 'guava': 400}

In [ ]:
fruits = {"banana":200,"apple":300,"guava":400}
fruits.popitem()
print(fruits)

{'banana': 200, 'apple': 300}

In [ ]:
fruits = {"banana":200,"apple":300,"guava":400}
fruits.keys()
print(fruits)

{'banana': 200, 'apple': 300, 'guava': 400}

In [ ]:
fruits = {"banana":200,"apple":300,"guava":400}
fruits.values()
print(fruits)

{'banana': 200, 'apple': 300, 'guava': 400}

In [ ]:
fruits = {"banana":200,"apple":300,"guava":400}
fruits.clear()
print(fruits)

{}

In [ ]:
a = {"banana":200,"apple":300,"guava":400}
b = a
print(b)
print(id(a))
print(id(b))

{'banana': 200, 'apple': 300, 'guava': 400}
136051516886400
136051516886400

In [ ]:
a = {"banana":200,"apple":300,"guava":400}
b = a.copy()
print(b)

{'banana': 200, 'apple': 300, 'guava': 400}