In [ ]:
#1
print(''.join([i for i in 'hai' if i not in ['a','e','i','o','u']]))

h

In [ ]:
#2
print(''.join([i for i in 'data' if i in ['a','e','i','o','u']]))

aa

In [ ]:
# 3
a = [2,3,4,5]
b = []
for i in range(len(a)):
  c = a[i]
  b.append(int(str(c)+str(i)))

print(b)

[20, 31, 42, 53]

In [ ]:
# 4
for i in range(1,50):
    if i%2!=0 or i%3!=0:
        print(i,end=" ")

1 2 3 4 5 7 8 9 10 11 13 14 15 16 17 19 20 21 22 23 25 26 27 28 29 31 32 33 34 35 37 38 39 40 41 43 44 45 46 47 49

In [ ]:
#5
n = int(input())
a = []
for i in range(2,n+1):
    if n%i==0:
        a.append(i)
a.sort()
print("smallest divisor:",a[0])

20
smallest divisor: 2

In [6]:
#6
number = int(input())
a = str(number)
b = 0
for i in a:
    n = int(i)
    factorial = 1
    for j in range(1,n+1):
        factorial = factorial * j
    b = b + factorial
if b == number:
    print(f"{number} is a strong number")
else:
    print(f"{number} is not a strong number")

234
234 is not a strong number

In [ ]:
#7
a = str(input())
b = a.upper()
print(b)
c = a.lower()
print(c)

Hello World
HELLO WORLD
hello world

In [ ]:
#8
a = "united states"
b = a.replace(" ","")
print(b)

unitedstates

In [5]:
#9
a =str(input())
b = a.split()
result = []

for i in b:
    if len(i) > 1:
      c = i[0].upper() + i[1:-1] + i[-1].upper()
    else:
        c = i.upper()
    result.append(c)

d = ' '.join(result)
print(d)

this is john
ThiS IS JohN

In [ ]:
#10
a = [10,20,30,40,50]
b = 0
for i in a:
  b = b + 1
print(b)

5